[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:/slaclab/ruckus
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:/slaclab/surf
[submodule "firmware/submodules/lcls-timing-core"]
	path = firmware/submodules/lcls-timing-core
	url = git@github.com:slaclab/lcls-timing-core
[submodule "firmware/submodules/axi-pcie-core"]
	path = firmware/submodules/axi-pcie-core
	url = git@github.com:slaclab/axi-pcie-core
[submodule "firmware/submodules/lcls2-pgp-fw-lib"]
	path = firmware/submodules/lcls2-pgp-fw-lib
	url = git@github.com:slaclab/lcls2-pgp-fw-lib
[submodule "firmware/submodules/l2si-core"]
	path = firmware/submodules/l2si-core
	url = git@github.com:slaclab/l2si-core
